---
import MainLayout from "../../layouts/main-layout.astro";

import { Image } from "astro:assets";

import img1 from "../../assets/icons/excavator.png";
import img2 from "../../assets/icons/hook.png";
import img3 from "../../assets/icons/drill.png";
import water from "../../assets/icons/water-tap.png";
import gate from "../../assets/icons/gate.png";
import cctv from "../../assets/icons/cctv.png";
import security from "../../assets/icons/guard.png";
import pool from "../../assets/icons/swimming-pool.png";

import HeaderSection from "../../components/HeaderSection.astro";
import SwiperProjects from "../../components/SwiperProjects";

import GalleryModal from "../../components/GalleryModal.astro";

// Aspire Towers
import aspireMain1 from "../../assets/images/aspiretowers/aspiremain.jpeg";
import aspireMain2 from "../../assets/images/aspiretowers/aspire2.jpg";

// GAJ-MAK Mandovi Valley View
import gajmakMain1 from "../../assets/images/gajmak/gajmak1.jpg";
import gajmakMain2 from "../../assets/images/gajmak/gajmak4.jpg";
import gajmakMain3 from "../../assets/images/gajmak/gajmak2.jpg";

const aspireTowers = [
  { img: aspireMain1.src, title: "Aspire Towers " },
  { img: aspireMain2.src, title: "Aspire Towers " },
];

const gajMakValley = [
  { img: gajmakMain1.src, title: "GAJ-MAK Mandovi Valley View" },
  { img: gajmakMain2.src, title: "GAJ-MAK Mandovi Valley View" },
  { img: gajmakMain3.src, title: "GAJ-MAK Mandovi Valley View" },
];
---

<MainLayout title="Gajinkar Builders - Ongoing Projects">
  <HeaderSection
    heading="Discover Our Ongoing Endeavours"
    subHeading="Navigate Through Our Active Projects in Progress"
    img1={img1}
    img2={img2}
    img3={img3}
  />

  <section class="lg:hidden">
    <div
      class="bg-[linear-gradient(109.6deg,rgb(217,229,233)_91.1%,rgb(255,255,255)_11.2%,rgb(217,229,233)_91.1%)]"
    >
      <div class="p-4">
        <h2
          class="text-center font-bold text-3xl md:text-4xl text-blue-900 p-1"
        >
          GAJ-MAK Mandovi Valley View
        </h2>
        <h3 class="text-lg text-center font-medium text-blue-950">
          Alto-Betim Porvorim Bardez Goa
        </h3>
        <div class="flex justify-center items-center gap-8">
          <div class="text-center font-bold text-neutral-600">
            2BHK Flats - 3
          </div>

          <div class="text-center font-bold text-neutral-600">
            Penthouse - 1
          </div>
        </div>
      </div>

      <div class="pb-4">
        <SwiperProjects images={gajMakValley} mobile={true} client:load />
      </div>

      <div class="flex justify-center items-center py-2 md:py-4">
        <h2 class="text-center font-bold text-3xl">Amenities</h2>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3">
        <div
          class="p-2 rounded-md font-bold flex flex-col justify-center items-center"
        >
          <div class="w-[60px] h-[60px]">
            <Image src={water} alt="" class="w-full object-cover" />
          </div>
          <h3 class="text-center font-bold text-neutral-600">
            24/7 Water supply
          </h3>
        </div>
        <div
          class="p-2 rounded-md font-bold flex flex-col justify-center items-center"
        >
          <div class="w-[60px] h-[60px]">
            <Image src={cctv} alt="" class="w-full object-cover" />
          </div>
          <h3 class="text-center font-bold text-neutral-600">CCTV</h3>
        </div>
        <div
          class="p-2 rounded-md font-bold flex flex-col justify-center items-center"
        >
          <div class="w-[60px] h-[60px]">
            <Image src={gate} alt="" class="w-full object-cover" />
          </div>
          <h3 class="text-center font-bold text-neutral-600">Gated</h3>
        </div>
      </div>
      <div class="py-6 md:py-8">
        <div
          class="w-full h-1 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-500 via-gray-400 to-gray-100"
        >
        </div>
      </div>
    </div>
    <div
      class="bg-[linear-gradient(109.6deg,rgb(217,229,233)_91.1%,rgb(255,255,255)_11.2%,rgb(217,229,233)_91.1%)]"
    >
      <div class="p-4 pt-6">
        <h2
          class="text-center font-bold text-3xl md:text-4xl text-blue-900 p-1"
        >
          Aspire Towers I & II
        </h2>
        <h3 class="text-lg text-center font-medium text-blue-950">
          Porvorim, Aradi Socorro Bardez Goa
        </h3>
        <div class="flex justify-center items-center gap-8">
          <div class="text-center font-bold text-neutral-600">
            All 2BHK Flats
          </div>
        </div>
      </div>

      <div class="pb-4">
        <SwiperProjects images={aspireTowers} mobile={true} client:load />
      </div>

      <div class="flex justify-center items-center py-2 md:py-4">
        <h2 class="text-center font-bold text-3xl">Amenities</h2>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3">
        <div
          class="p-2 rounded-md font-bold flex flex-col justify-center items-center"
        >
          <div class="w-[60px] h-[60px]">
            <Image src={water} alt="" class="w-full object-cover" />
          </div>
          <h3 class="text-center font-bold text-neutral-600">
            24/7 Water supply
          </h3>
        </div>
        <div
          class="p-2 rounded-md font-bold flex flex-col justify-center items-center"
        >
          <div class="w-[60px] h-[60px]">
            <Image src={cctv} alt="" class="w-full object-cover" />
          </div>
          <h3 class="text-center font-bold text-neutral-600">CCTV</h3>
        </div>
        <div
          class="p-2 rounded-md font-bold flex flex-col justify-center items-center"
        >
          <div class="w-[60px] h-[60px]">
            <Image src={security} alt="" class="w-full object-cover" />
          </div>
          <h3 class="text-center font-bold text-neutral-600">Security Guard</h3>
        </div>
        <div
          class="p-2 rounded-md font-bold flex flex-col justify-center items-center"
        >
          <div class="w-[60px] h-[60px]">
            <Image src={pool} alt="" class="w-full object-cover" />
          </div>
          <h3 class="text-center font-bold text-neutral-600">Swimming Pool</h3>
        </div>
      </div>
      <div class="py-6 md:py-8">
        <div
          class="w-full h-1 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-500 via-gray-400 to-gray-100"
        >
        </div>
      </div>
    </div>
  </section>

  <section class="hidden lg:block">
    <div class="relative w-full h-auto z-[1]">
      <div class="spacer"></div>

      <div class="work">
        <div class="work__left">
          <div class="work__text">
            <div class="work__info">
              <div class="work__left-bl">
                <!-- <span class="work__num">01</span> -->
                <h2 class="title">GAJ-MAK Mandovi Valley View</h2>
                <p>
                  <span class="stroke">Alto-Betim Porvorim Bardez Goa</span>
                </p>
                <div class="mt-4 flex justify-start px-2 items-center gap-8">
                  <!-- <div class="flex flex-col justify-center items-center gap-2"> -->
                  <div>
                    <!-- <div class="w-[60px] h-[60px]">
                      <Image
                        src={building}
                        alt=""
                        class="w-full object-cover"
                      />
                    </div> -->
                    <div class="font-bold">2BHK Flats - 3</div>
                  </div>

                  <!-- <div class="flex flex-col justify-center items-center gap-2"> -->
                  <div>
                    <!-- <div class="w-[60px] h-[60px]">
                      <Image
                        src={building}
                        alt=""
                        class="w-full object-cover"
                      />
                    </div> -->
                    <div class="font-bold">Penthouse - 1</div>
                  </div>
                </div>

                <div class="py-4">
                  <h3 class="font-bold text-lg lg:text-2xl">Amenities</h3>
                  <ul
                    class="py-2 font-medium grid grid-cols-2 gap-4 max-w-[500px]"
                  >
                    <li class="flex justify-start items-center gap-1">
                      <span>
                        <Image src={cctv} alt="" class="w-8 h-8" />
                      </span>
                      <span>CCTV</span>
                    </li>
                    <li class="flex justify-start items-center gap-1">
                      <span>
                        <Image src={water} alt="" class="w-8 h-8" />
                      </span>
                      <span>24/7 Water Supply</span>
                    </li>
                    <li class="flex justify-start items-center gap-1">
                      <span>
                        <Image src={gate} alt="" class="w-8 h-8" />
                      </span>
                      <span>Gated</span>
                    </li>
                  </ul>
                </div>
                <GalleryModal images={aspireTowers} />
              </div>
            </div>
            <!--  -->
            <div class="work__info">
              <div class="work__left-bl">
                <!-- <span class="work__num">01</span> -->
                <h2 class="title">Aspire Towers I & II</h2>
                <p>
                  <span class="stroke">Porvorim, Aradi Socorro Bardez Goa</span>
                </p>
                <div class="mt-4 flex justify-start px-2 items-center gap-8">
                  <!-- <div class="flex flex-col justify-center items-center gap-2"> -->
                  <div>
                    <!-- <div class="w-[60px] h-[60px]">
                      <Image
                        src={building}
                        alt=""
                        class="w-full object-cover"
                      />
                    </div> -->
                    <div class="font-bold">All 2BHK Flats</div>
                  </div>
                </div>

                <div class="py-4">
                  <h3 class="font-bold text-lg lg:text-2xl">Amenities</h3>
                  <ul
                    class="py-2 font-medium grid grid-cols-2 gap-4 max-w-[500px]"
                  >
                    <li class="flex justify-start items-center gap-1">
                      <span>
                        <Image src={security} alt="" class="w-8 h-8" />
                      </span>
                      <span>Security Guard</span>
                    </li>
                    <li class="flex justify-start items-center gap-1">
                      <span>
                        <Image src={cctv} alt="" class="w-8 h-8" />
                      </span>
                      <span>CCTV</span>
                    </li>

                    <li class="flex justify-start items-center gap-1">
                      <span>
                        <Image src={pool} alt="" class="w-8 h-8" />
                      </span>
                      <span>Swimming Pool</span>
                    </li>
                    <li class="flex justify-start items-center gap-1">
                      <span>
                        <Image src={water} alt="" class="w-8 h-8" />
                      </span>
                      <span>24/7 Water Supply</span>
                    </li>
                  </ul>
                </div>
                <GalleryModal images={gajMakValley} />
              </div>
            </div>
            <!--  -->
          </div>
        </div>

        <div class="work__right">
          <div class="work__right-bl">
            <div class="work__photo">
              <div class="work__photo-item" title="1">
                <SwiperProjects
                  images={gajMakValley}
                  mobile={false}
                  client:load
                />
              </div>
              <div class="work__photo-item" title="2">
                <SwiperProjects
                  images={aspireTowers}
                  mobile={false}
                  client:load
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  </section>
</MainLayout>

<style>
  .spacer {
    width: 100%;
    height: 1vh;
    /* background: #ddd; */
  }

  .work {
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .work__left {
    position: relative;
    width: 54%;
    z-index: 2;
  }

  .work__text {
    margin: auto;
    width: 80%;
  }

  .work__info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .work__num {
    display: block;
    line-height: 0.9;
    text-align: right;
    font-size: 18px;
    transform: skewX(-20deg);
    color: rgb(0, 0, 0);
  }

  .title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #02008a;
  }

  .stroke {
    display: block;
    color: #00014b;
    font-size: 1.2rem;
    margin-left: 10px;
  }

  .work__right {
    width: 46%;
    height: auto;
  }

  .work__right-bl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 0;
  }

  .work__photo {
    width: 40vw;
    height: 30vw;
    position: relative;
  }

  .work__photo-item {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 80px;
    overflow: hidden;
  }

  .work__photo-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin: 100px auto;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
</style>

<script
  is:inline
  src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@latest/bundled/lenis.js"
></script>

<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>

<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"
></script>

<script is:inline>
  gsap.registerPlugin(ScrollTrigger);

  let workinfoitems = document.querySelectorAll(".work__photo-item");

  workinfoitems.forEach((item, index) => {
    item.style.zIndex = workinfoitems.length - index;
  });

  gsap.set(".work__photo-item", {
    clipPath: () => {
      return "inset(0px 0px 0px 0px)";
    },
  });

  const animation = gsap.to(".work__photo-item:not(:last-child)", {
    clipPath: () => {
      return "inset(0px 0px 100% 0px)";
    },
    stagger: 0.6,
    ease: "none",
  });

  ScrollTrigger.create({
    trigger: ".work",
    start: "top top",
    end: "bottom bottom",
    animation: animation,
    scrub: 1,
  });
</script>
