---
import { Image } from "astro:assets";
import img1 from "../assets/images/img1.png";
import img2 from "../assets/images/img2.jpg";
import img3 from "../assets/images/img3.jpg";
import img4 from "../assets/images/img4.jpg";
import img5 from "../assets/images/img5.jpg";
---

<section>
  <div class="sliderq">
    <!-- list Items -->
    <div class="list">
      <div class="item active">
        <Image src={img1} alt="Sliderq 1" />
        <div class="content">
          <p>design</p>
          <h2>Sliderq 01</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            neque?Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ipsum, ex.
          </p>
        </div>
      </div>

      <div class="item">
        <Image src={img2} alt="Sliderq 2" />
        <div class="content">
          <p>design</p>
          <h2>Sliderq 02</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            neque?Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ipsum, ex.
          </p>
        </div>
      </div>

      <div class="item">
        <Image src={img3} alt="Slide 3" />
        <div class="content">
          <p>design</p>
          <h2>Sliderq 03</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            neque?Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ipsum, ex.
          </p>
        </div>
      </div>

      <div class="item">
        <Image src={img4} alt="Slide 4" />
        <div class="content">
          <p>design</p>
          <h2>Sliderq 04</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            neque?Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ipsum, ex.
          </p>
        </div>
      </div>

      <div class="item">
        <Image src={img5} alt="Slide 5" />
        <div class="content">
          <p>design</p>
          <h2>Sliderq 05</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore,
            neque?Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ipsum, ex.
          </p>
        </div>
      </div>
    </div>

    <!-- button arrows -->
    <div class="arrows">
      <button id="prev">-</button>
      <button id="next">-</button>
    </div>

    <!-- thumbnail -->
    <div class="thumbnail">
      <div class="item active">
        <Image src={img1} alt="Sliderq 1" />
        <div class="content">Name Sliderq</div>
      </div>

      <div class="item">
        <Image src={img2} alt="Sliderq 2" />
        <div class="content">Name Sliderq</div>
      </div>

      <div class="item">
        <Image src={img3} alt="Sliderq 3" />
        <div class="content">Name Sliderq</div>
      </div>

      <div class="item">
        <Image src={img4} alt="Sliderq 4" />
        <div class="content">Name Sliderq</div>
      </div>

      <div class="item">
        <Image src={img5} alt="Sliderq 5" />
        <div class="content">Name Sliderq</div>
      </div>
    </div>
  </div>
</section>

<style>
  .sliderq {
    height: 100vh;
    margin-top: -93px;
    position: relative;
  }
  .sliderq .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  .sliderq .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sliderq .list .item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.747) 10%,
      transparent
    );
  }
  .sliderq .list .item .content {
    color: white;
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
  }
  .sliderq .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  .sliderq .list .item .content h2 {
    font-size: 100px;
    margin: 0;
  }
  .sliderq .list .item.active {
    opacity: 1;
    z-index: 10;
  }
  @keyframes showContent {
    to {
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
    }
  }
  .sliderq .list .item.active p:nth-child(1),
  .sliderq .list .item.active h2,
  .sliderq .list .item.active p:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
  }
  .sliderq .list .item.active h2 {
    animation-delay: 1s;
  }
  .sliderq .list .item.active p:nth-child(3) {
    animation-duration: 1.3s;
  }
  .arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
  }
  .arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: 0.5s;
  }
  .arrows button:hover {
    background-color: #eee;
    color: black;
  }
  .thumbnail {
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
  }
  .thumbnail::-webkit-scrollbar {
    width: 0;
  }
  .thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(0.5);
    transition: 0.5s;
    flex-shrink: 0;
  }
  .thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .thumbnail .item.active {
    filter: brightness(1);
  }
  .thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
  }
  @media screen and (max-width: 678px) {
    .thumbnail {
      justify-content: start;
    }
    .sliderq .list .item .content h2 {
      font-size: 60px;
    }
    .arrows {
      top: 10%;
    }
  }
</style>

<script>
  let items = document.querySelectorAll(".sliderq .list .item");
  let next = document.getElementById("next");
  let prev = document.getElementById("prev");
  let thumbnails = document.querySelectorAll(".thumbnail .item");

  // config param
  let countItem = items.length;
  let itemActive = 0;
  // event next click
  next.onclick = function () {
    itemActive = itemActive + 1;
    if (itemActive >= countItem) {
      itemActive = 0;
    }
    showSliderq();
  };
  //event prev click
  prev.onclick = function () {
    itemActive = itemActive - 1;
    if (itemActive < 0) {
      itemActive = countItem - 1;
    }
    showSliderq();
  };
  // auto run sliderq
  let refreshInterval = setInterval(() => {
    next.click();
  }, 5000);
  function showSliderq() {
    // remove item active old
    let itemActiveOld = document.querySelector(".sliderq .list .item.active");
    let thumbnailActiveOld = document.querySelector(".thumbnail .item.active");
    itemActiveOld.classList.remove("active");
    thumbnailActiveOld.classList.remove("active");

    // active new item
    items[itemActive].classList.add("active");
    thumbnails[itemActive].classList.add("active");

    // clear auto time run sliderq
    clearInterval(refreshInterval);
    refreshInterval = setInterval(() => {
      next.click();
    }, 5000);
  }

  // click thumbnail
  thumbnails.forEach((thumbnail, index) => {
    thumbnail.addEventListener("click", () => {
      itemActive = index;
      showSliderq();
    });
  });
</script>
