---
import { Image } from "astro:assets";
import img1 from "../assets/images/bridgeview/bridgemain.jpg";
import img2 from "../assets/images/aspiretowers/aspiremain.jpeg";
import img3 from "../assets/images/rental.jpg";
import img4 from "../assets/images/commercial.jpg";
---

<section>
  <div class="sliderq">
    <!-- list Items -->
    <div class="list">
      <div class="item active">
        <Image src={img1} alt="Sliderq 2" />
        <div class="content">
          <p></p>
          <h2>Welcome to Gajinkar Builders</h2>
          <p>Building Dreams, Transforming Spaces</p>
          <a
            href="/completed-projects"
            class="bg-[radial-gradient(ellipse_at_right,_var(--tw-gradient-stops))] from-sky-500 to-indigo-900 rounded-lg border-2 border-indigo-900 w-fit text-white text-center font-bold p-4 px-6 shadow-2xl scale-100 transition-all hover:scale-105 block"
          >
            Know More
          </a>
        </div>
      </div>

      <div class="item">
        <Image src={img2} alt="Slide 5" />
        <div class="content">
          <p></p>
          <h2>Explore Our Exceptional Projects</h2>
          <p>Witness Excellence in Every Brick</p>
          <a
            href="/ongoing-projects"
            class="bg-[radial-gradient(ellipse_at_right,_var(--tw-gradient-stops))] from-sky-500 to-indigo-900 rounded-lg border-2 border-indigo-900 w-fit text-white text-center font-bold p-4 px-6 shadow-2xl scale-100 transition-all hover:scale-105 block"
          >
            Know More
          </a>
        </div>
      </div>
      <div class="item">
        <Image src={img3} alt="Slide 5" />
        <div class="content">
          <p>Property For Sale/Rent</p>
          <h2>1BHK Flat in Gera River of Joy</h2>
          <p>For Rent 25000 / month</p>
          <p>For Sale 58 Lakhs with all Amenities</p>
          <a
            href="/contact"
            class="bg-[radial-gradient(ellipse_at_right,_var(--tw-gradient-stops))] from-sky-500 to-indigo-900 rounded-lg border-2 border-indigo-900 w-fit text-white text-center font-bold p-4 px-6 shadow-2xl scale-100 transition-all hover:scale-105 block"
          >
            Contact
          </a>
        </div>
      </div>
      <div class="item">
        <Image src={img4} alt="Slide 5" />
        <div class="content">
          <p>Commercial Space for Rent/ Sale</p>
          <h2>Rent 1.5 Lakhs/ month</h2>
          <p>Outright Sale for 30K / sqm</p>
          <p>Suitable for Showroom, Furniture Manufacture or Tile Showroom</p>

          <a
            href="/contact"
            class="bg-[radial-gradient(ellipse_at_right,_var(--tw-gradient-stops))] from-sky-500 to-indigo-900 rounded-lg border-2 border-indigo-900 w-fit text-white text-center font-bold p-4 px-6 shadow-2xl scale-100 transition-all hover:scale-105 block"
          >
            Contact
          </a>
        </div>
      </div>
    </div>

    <!-- button arrows -->
    <div class="arrows">
      <button id="prev">-</button>
      <button id="next">-</button>
    </div>

    <!-- thumbnail -->
    <!-- <div class="thumbnail">
      <div class="item active">
        <Image src={img1} alt="Slider 1" />
        <div class="content font-bold bg-[#ffffffd2] p-2">
          Completed Projects
        </div>
      </div>

      <div class="item">
        <Image src={img2} alt="Sliderq 2" />
        <div class="content font-bold bg-[#ffffffd2] p-2">Ongoing Projects</div>
      </div>
    </div> -->
  </div>
</section>

<style>
  .sliderq {
    height: 100vh;
    margin-top: -93px;
    position: relative;
  }
  .sliderq .list .item {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  .sliderq .list .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .sliderq .list .item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
      to top,
      rgba(24, 6, 54, 0.445) 10%,
      transparent
    );
  }
  .sliderq .list .item .content {
    color: white;
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
  }
  .sliderq .list .item .content p:nth-child(1) {
    text-transform: uppercase;
    letter-spacing: 10px;
  }
  .sliderq .list .item .content h2 {
    font-size: 3.2rem;
    margin: 0;
    font-weight: bold;
  }
  .sliderq .list .item .content a {
    margin-top: 10px;
  }
  .sliderq .list .item.active {
    opacity: 1;
    z-index: 10;
  }
  @keyframes showContent {
    to {
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
    }
  }
  .sliderq .list .item.active p:nth-child(1),
  .sliderq .list .item.active h2,
  .sliderq .list .item.active p:nth-child(3),
  .sliderq .list .item.active p:nth-child(4),
  .sliderq .list .item.active a {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
  }
  .sliderq .list .item.active h2 {
    animation-delay: 1s;
  }
  .sliderq .list .item.active p:nth-child(3),
  .sliderq .list .item.active p:nth-child(4) {
    animation-duration: 1.3s;
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 500;
  }
  .sliderq .list .item.active a {
    animation-duration: 1.4s;
  }
  .arrows {
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
  }
  .arrows button {
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: 0.5s;
  }
  .arrows button:hover {
    background-color: #eee;
    color: black;
  }
  /* .thumbnail {
    position: absolute;
    bottom: 50px;
    z-index: 9;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
  }
  .thumbnail::-webkit-scrollbar {
    width: 0;
  }
  .thumbnail .item {
    width: 150px;
    height: 220px;
    filter: brightness(0.5);
    transition: 0.5s;
    flex-shrink: 0;
  }
  .thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .thumbnail .item.active {
    filter: brightness(1);
  }
  .thumbnail .item .content {
    position: absolute;
    inset: auto 10px 10px 10px;
  } */
  @media screen and (max-width: 678px) {
    /* .thumbnail {
      justify-content: start;
    } */

    .sliderq .list .item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .sliderq .list .item .content {
      margin-top: 60px;
    }
    .sliderq .list .item .content h2 {
      font-size: 1.8rem;
      font-weight: 700;
    }
    .sliderq .list .item .content p {
      margin-top: 10px;
      font-size: 1.2rem;
      font-weight: 500;
    }
    .arrows {
      top: 15%;
    }
  }
</style>

<script>
  let items = document.querySelectorAll(".sliderq .list .item");
  let next = document.getElementById("next");
  let prev = document.getElementById("prev");
  // let thumbnails = document.querySelectorAll(".thumbnail .item");

  // config param
  let countItem = items.length;
  let itemActive = 0;
  // event next click
  next.onclick = function () {
    itemActive = itemActive + 1;
    if (itemActive >= countItem) {
      itemActive = 0;
    }
    showSliderq();
  };
  //event prev click
  prev.onclick = function () {
    itemActive = itemActive - 1;
    if (itemActive < 0) {
      itemActive = countItem - 1;
    }
    showSliderq();
  };
  // auto run sliderq
  let refreshInterval = setInterval(() => {
    next.click();
  }, 5000);
  function showSliderq() {
    // remove item active old
    let itemActiveOld = document.querySelector(".sliderq .list .item.active");
    // let thumbnailActiveOld = document.querySelector(".thumbnail .item.active");
    itemActiveOld.classList.remove("active");
    // thumbnailActiveOld.classList.remove("active");

    // active new item
    items[itemActive].classList.add("active");
    // thumbnails[itemActive].classList.add("active");

    // clear auto time run sliderq
    clearInterval(refreshInterval);
    refreshInterval = setInterval(() => {
      next.click();
    }, 5000);
  }

  // click thumbnail
  // thumbnails.forEach((thumbnail, index) => {
  //   thumbnail.addEventListener("click", () => {
  //     itemActive = index;
  //     showSliderq();
  //   });
  // });
</script>
